#{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.navlinks a {
  padding-left: 20px;
}

header {
  align-items:center;
  padding: 20px;
  
}

header, #home,
.about-container{
  display:flex;
}

header,.about-container 
.boxcontainer {
  justify-content: space-between;
}

.logo{
  width: 10%;
  padding-bottom: 0px;
}

#for-home{
  background-color: wheat;
  height: 35vh;
  text-align: center;
  padding-top: 20px;
  justify-content: center;
  flex-direction: column;
}

.intro {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.about-container, 
#for-projects {
  padding: 20px;
}

h2{
  text-align: center;
}

.Bio{
  width: 60%;
  align-self: center;
  background-color: wheat;
  padding: 10px;
}

.profile-image{
  width: 40%;
  display: flex;
  justify-content: center;
  background-color: white;

  
}
.profile-image img {
  width: 40%;
  border-radius: 50%;
 align-self:center;
}

.box {
  width: 50%;
  margin-top: 20px;
  box-shadow: 2px 2px 2px 2px beige;
  padding: 10px;
}
.box img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

#for-projects p {
  text-align: center;

}

#for-contact {
  background-color: wheat;
  padding: 15px;
  text-align: center;
}
footer{
  background-color: white;
  color:black;
  text-align: center;
  padding-top: 10px;
}
@media (max-width: 600px){
  .about-container,
 header, .box-container {
    flex-direction: column;
  }
  .box, .Bio,
  .profile-image img,
  .profile-image { 
    width: 100%;
  }

  .intro{
    width: 90%;
  }
  .Bio{
    order: 2;
  }

}